fastapi
uvicorn

pandas
openpyxl
# google-genai>=1.0.0
seaborn
matplotlib
langchain
pydantic>=2.5
google-generativeai>=0.7.2
openai
google-genai==0.3.0
# or
# google-generativeai>=0.7.0

# .env load ke liye (agar already nahi hai)
python-dotenv==1.0.0

# REST fallback requests use karega agar available ho (warna urllib se karega)
requests==2.31.0

pdfplumber           # Extract text from PDFs
tabula-py            # Extract tables from PDFs
python-docx          # Read .docx files
openpyxl             # Read Excel (.xlsx)
pandas               # For data manipulation
numpy
gpt4all

transformers         # For using pretrained models like BERT, DistilBERT, etc.
torch                # Required for model inference
langchain            # For RAG pipelines and retrieval
langchain-community
langchain-huggingface
langchain-groq
faiss-cpu            # Vector database (local retrieval)

matplotlib           # For static plots
seaborn              # For statistical plotting
plotly               # For interactive plotting

python-multipart     # For file uploads
aiofiles             # For async file handling

psycopg2-binary
pypdf

#-e .